*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#book-interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.library-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
    margin: 0.5vw;
    border-radius: 10px;
    max-height: auto;
    max-width: 200px;
}

#library{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#read-book{
    background-color: green;
}

#unread-book{
    background-color: red;
}